.mainContainer {
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 0 40px;
  gap: 10px;
}

.onAnimation {
  animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
