.first {
  height: calc(100svh - 68px - 18px);
  margin: 0 40px;

  > div:nth-child(1),
  > div:nth-child(3) {
    margin: 18px 0;
  }
}

.webtoon {
  // 전체 높이 - 텍스트 - 텍스트 마진 - 인풋 - 인풋 마진 - 하단 여백
  height: calc(100% - 26px - 18px - 44px - 18px - 40px);
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second {
  height: calc(100svh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 40px;

  > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin: 18px 0;
    > div:nth-child(2) {
      > div:nth-child(2) {
        margin-top: 10px;
      }
    }
  }
  > div:nth-child(2) {
    margin: 18px 0;
  }
}

.main {
  > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    height: 66px;
    padding: 0 40px;
  }

  &__chat {
    height: calc(100svh - 68px - 66px);
    background-color: var(--color-gray-1);

    > div:nth-child(2) {
      margin: 6px 20px;
    }
  }
}

.chat {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: calc(100% - 44px - 32px - 12px);
    overflow: scroll;
    padding: 20px;
    box-sizing: border-box;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 240px;
    > div:nth-child(1) {
      padding: 14px;
      background-color: var(--color-white);
      border-radius: 0 20px 20px 20px;
    }
    > div:nth-child(2) {
      align-self: flex-end;
      color: var(--color-gray-2);
      line-height: 100%;
    }
    &--mine {
      align-self: flex-end;
      > div:nth-child(1) {
        border-radius: 20px 20px 0px 20px;
      }
      @extend .chat__info;
    }
  }
}
