.tabList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tab {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  text-align: center;
  cursor: pointer;

  &__chat {
    @extend .tab;
    color: var(--color-gray-2);
    &--clicked {
      @extend .tab;
      color: var(--color-primary);
      > div {
        border: 1.8px solid var(--color-primary);
      }
    }
  }

  &__feed {
    @extend .tab;
    color: var(--color-accent-1);
    > div {
      border: 1.8px solid var(--color-accent-1);
    }
    &--clicked {
      @extend .tab;
      color: var(--color-gray-2);
    }
  }
}

.nav {
  width: 390px;
  height: 88px;
  position: sticky;
  bottom: 0px;
  background-color: var(--color-white);

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  > div {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:nth-child(1) {
      color: var(--color-primary);
    }
    &:nth-child(2),
    &:nth-child(3) {
      color: var(--color-gray-2);
    }
  }
}

.banner {
  margin: -40px -40px;
}

.chatroom {
  display: flex;
  flex-direction: column;
  gap: 56px;
  margin: 0 40px;
  margin-top: 40px;
  &__title {
    margin-bottom: 20px;
    > div:nth-child(1) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 6px;
    }

    > span:nth-child(2) {
      color: var(--color-gray-2);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    > div:nth-child(1) {
      margin-bottom: 30px;
    }
  }
}

.webtoon {
  width: 100%;
  overflow-x: auto;
  margin-top: 10px;

  // 스크롤 숨김
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }

  &__items {
    width: 100%;
    display: grid;
    gap: 15px;
    grid-auto-flow: column;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-2);
  }

  &__img {
    width: 66px;
    height: 66px;
    border-radius: 20px;
    background-color: var(--color-gray-1);
  }
}

.today {
  display: flex;
  flex-direction: column;
  gap: 14px;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div {
      display: flex;
      align-items: center;
      gap: 14px;

      // 이미지
      > div:nth-child(2) {
        width: 46px;
        height: 66px;
        border-radius: 6px;
        background-color: var(--color-gray-1);
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
}

.ranking {
  display: flex;
  flex-direction: column;
  gap: 16px;
  // 이미지
  &__item {
    display: flex;
    gap: 16px;
  }

  &__img {
    position: relative;
    width: 66px;
    height: 66px;
    border-radius: 20px;
    background-color: var(--color-gray-1);

    > div:nth-child(2) {
      position: absolute;
      right: 0;
    }
  }

  &__comments {
    display: flex;
    flex-direction: column;
  }
}

.rest {
  display: flex;
  flex-direction: column;
  gap: 14px;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
      display: flex;
      gap: 16px;
      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6px;
      }
    }
  }

  &__tags {
    display: flex;
    gap: 2px;
  }

  &__img {
    width: 66px;
    height: 94px;
    border-radius: 6px;
    background-color: var(--color-gray-1);
  }
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 30px 40px 0 40px;

  &__item {
    width: 348px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 4px 14px rgb(0, 0, 0, 0.2);
    cursor: pointer;
    &:nth-last-child(2) {
      margin-bottom: 64px;
    }
  }

  &__imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
    > div {
      width: 66px;
      height: 94px;
      border-radius: 6px;
      background-color: var(--color-gray-1);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;

    > div:nth-child(1) {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }

  &__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
