.arrow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0;
  width: 64px;
  line-height: 100%;
  color: var(--color-gray-2);
  cursor: pointer;

  > svg {
    font-size: large;
  }
}
