.button {
  width: 100%;
  padding: var(--spacing-5);
  box-sizing: border-box;

  color: var(--color-white);
  border: none;
  border-radius: 50px;

  cursor: pointer;

  &.__primary {
    background-color: var(--color-primary);
  }

  &.__black {
    height: 55px;
    background-color: var(--color-black);
  }

  &.__small {
    width: 48px;
    height: 32px;
    padding: 0 8px;
    border-radius: 10px;
    line-height: 100%;
  }

  &:active {
    box-shadow: 2px 2px 10px 0px rgba(248, 248, 248, 0.251) inset;
  }

  &:disabled {
    background-color: var(--color-gray-2);
    pointer-events: none;
    cursor: default;
  }

  &__kakao {
    @extend .button;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 55px;
    color: #371d1e;
    background-color: #fee500;
  }
}

.confirm {
  width: 49px;
  height: 44px;
  padding: 10 12;

  border: none;
  border-radius: 10px;
  color: var(--color-white);
  background-color: var(--color-primary);

  cursor: pointer;
}

.create__open {
  position: sticky;
  bottom: 75px;
  padding-right: 10px;

  width: 100%;
  display: flex;
  justify-content: flex-end;

  // 열기 버튼
  > div:nth-child(1) {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    color: var(--color-white);
    background: linear-gradient(135deg, #0038f5, var(--color-accent-1));
    box-shadow: 0 4px 14px rgb(0, 0, 0, 0.2);
    cursor: pointer;
    > svg {
      font-size: 48px;
    }
  }
}

.create__close {
  position: sticky;
  bottom: 75px;
  width: 100%;
  padding-right: 10px;

  display: flex;
  justify-content: flex-end;

  // 이동 버튼 목록
  > div:nth-child(1) {
    position: absolute;
    bottom: 100px;

    display: flex;
    flex-direction: column;

    gap: 10px;

    // 이동 버튼 한 개
    > div {
      display: flex;
      align-items: center;
      padding: 8px 15px;
      border-radius: 10px;
      background-color: var(--color-white);
      box-shadow: 0 4px 14px rgb(0, 0, 0, 0.2);
      cursor: pointer;
      > svg {
        font-size: medium;
        margin-right: 5px;
      }
    }
  }

  // 닫기 버튼
  > div:nth-child(2) {
    position: absolute;
    bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 64px;
    height: 64px;
    border-radius: 100%;
    color: var(--color-gray-2);
    background-color: var(--color-gray-1);
    box-shadow: 0 4px 14px rgb(0, 0, 0, 0.2);
    cursor: pointer;
    > svg {
      font-size: 48px;
    }
  }
}

.EditBtn {
  align-items: center;
  padding: 5px 8px;
  height: 30px;

  opacity: 0.4;
  /* primary */
  border: 1px solid #2b00d6;
  border-radius: 10px;
}

.deleteBtn {
  margin-top: 20px;
  padding: 20px 20px;
  width: 349px;

  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.14);
  border-radius: 16px;
  font-weight: 500;
  font-size: var(--font-body-1);

  color: red;

  border: 0;
  width: 100%;
}
