.header {
  display: grid;
  grid-template-columns: 3fr 7fr 3fr;
  align-items: center;
  width: 100%;
  padding: 18px 40px;
  box-sizing: border-box;

  > span:nth-child(2) {
    width: 100%;
    justify-self: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
  }

  &__button {
    justify-self: right;
    visibility: hidden;
    &--visible {
      > button {
        width: 48px;
        height: 32px;
      }
      @extend .header__button;
      visibility: visible;
    }
  }
}
