.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 305px;
  height: 192px;
  padding: 24px;
  border-radius: 20px;
  background-color: var(--color-white);
  box-shadow: 0 4px 14px rgb(0, 0, 0, 0.2);

  > svg {
    align-self: flex-end;
  }
}
