.WebtoonPlusBtn {
  width: 66px;
  height: 66px;
  border: 1px dashed rgb(129, 129, 129);
  border-radius: 20px;
  background-color: rgb(232, 232, 232);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: gray;
  margin: 0;
}

.deleteBtn {
  width: 20px;
  height: 20px;
  border-radius: 10px;

  font-weight: 800;

  position: absolute;
  top: 0;
  right: 75%;
  z-index: 1;

  background: var(--color-black);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}
